<div class="${baseClass}">
<!--
 * IBM Confidential
 * OCO Source Materials
 * (C) Copyright IBM Corp. 2010, 2011
 * The source code for this program is not published 
 * or otherwise divested of its trade secrets, irrespective
 * of what has been deposited with the U.S. Copyright Office.
-->
<div class="${baseClass}Header" dojoAttachPoint="headerNode"></div>
<div class="${baseClass}Left" dojoAttachPoint="leftNode"></div>
<div class="${baseClass}Center" dojoAttachPoint="centerNode"></div>
<div class="${baseClass}Right" dojoAttachPoint="rightNode"></div>
<div class="${baseClass}Footer" dojoAttachPoint="footerNode"></div>
</div>
