/* RadioButton
 * 
 * Styling RadioButton mainly includes:
 * 
 * 1. Containers
 * 		.dijitRadio|.dijitRadioIcon - for border, padding, width|height and background image
 * 
 * 2. RadioButton within ToggleButton
 * 		.dijitToggleButton|.dijitToggleButtonChecked .* - for background image
 * 
 * 3. Checked state
 * 		.dijitRadioChecked - for checked background-color|image
 * 		.dijitToggleButtonChecked - for border, background-color|image, display and width|height
 * 
 * 4. Hover state
 * 		.dijitRadioHover|.dijitRadioCheckedHover - for background image
 * 
 * 5. Disabled state
 * 		.dijitRadioDisabled|.dijitRadioCheckedDisabled - for background image
 */

.vienna .dijitToggleButton .dijitRadio,
.vienna .dijitToggleButton .dijitRadioIcon {
	background-image: url('images/checkboxRadioButtonStates.png');
}

.dj_ie6 .vienna .dijitToggleButton .dijitRadio,
.dj_ie6 .vienna .dijitToggleButton .dijitRadioIcon {
	background-image: url('images/checkboxAndRadioButtons_IE6.png');
}

.vienna .dijitRadio,
.vienna .dijitRadioIcon	{		/* inside a toggle button */
	background-image: url('images/checkboxRadioButtonStates.png'); /* checkbox sprite image */
	background-repeat: no-repeat;
	width: 14px;
	height: 14px;
	margin: 0px 0px 0px 0px;
	padding: 0px;
}

.dj_ie6 .vienna .dijitRadio,
.dj_ie6 .vienna .dijitRadioIcon	{		/* inside a toggle button */
	background-image: url('images/checkboxAndRadioButtons_IE6.png'); /* checkbox sprite image */
}

.vienna .dijitRadio{
	/* unselected */
	background-position: -136px;
}

.vienna .dijitToggleButton .dijitRadioIcon {
	/* unselected */
	background-position: -136px;
}

.vienna .dijitRadioDisabled {
	/* unselected and disabled */
	background-position: -196px;
}

.vienna .dijitRadioHover {
	/* hovering over an unselected enabled radio button */
	background-position: -166px;
}

.vienna .dijitRadioChecked{
	background-position: -121px;
}

.vienna .dijitToggleButtonChecked .dijitRadioIcon {
	background-position: -121px;
}

.vienna .dijitRadioCheckedHover{
	background-position: -151px;
}

.vienna .dijitRadioCheckedDisabled {
	/* selected but disabled */
	background-position: -181px;
}

/* read only */
.vienna .dijitRadioReadOnly{
	/* unselected */
	background-position: -226px; 
}

.vienna .dijitToggleButton .dijitRadioIconReadOnly {
	/* unselected */
	background-position: -226px;
}
	
.vienna .dijitRadioCheckedReadOnly{
	background-position: -211px;
}

.vienna .dijitToggleButtonChecked .dijitRadioIconReadOnly {
	background-position: -211px;
}
