<div class="${baseClass}"
><!--
 * IBM Confidential
 * OCO Source Materials
 * (C) Copyright IBM Corp. 2010, 2011
 * The source code for this program is not published 
 * or otherwise divested of its trade secrets, irrespective
 * of what has been deposited with the U.S. Copyright Office.
--><div dojoType="idx.form.Link" class="${baseClass}EditLink"
      dojoAttachPoint="_editLink">${editLabel}</div
><div dojoType="idx.layout.ButtonBar" dojoAttachPoint="_buttonBar"
      class="${baseClass}ButtonBar"
><div dojoType="dijit.form.Button" dojoAttachPoint="_saveButton">${saveLabel}</div
><div dojoType="dijit.form.Button" dojoAttachPoint="_cancelButton">${cancelLabel}</div
></div>
</div>
