/*
 * Licensed Materials - Property of IBM
 * (C) Copyright IBM Corp. 2010, 2012 All Rights Reserved
 * US Government Users Restricted Rights - Use, duplication or 
 * disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
 */
 
.claro .idxGridIconPassed {
	background-image: url('claro/passed.png');	
	background-repeat: no-repeat; 
	background-position: left;	
	width: 100%; 
	height: 100%; 
	text-align: left; 
	text-indent:22px;
}
.dijitRtl .claro .idxGridIconPassed {	
	background-position: right;	
	text-align: right;
}
.dijitRtl .claro .idxGridIconFailed {	
	background-position: right;	
	text-align: right;
}
.claro .idxGridIconFailed {	
	background-image: url('claro/failed.png');
	background-repeat: no-repeat; 
	background-position: left;	
	width: 100%; 
	height: 100%; 
	text-align: left; 
	text-indent: 22px;
}

.claro .idxGridIconEdit {	
	background-image: url('claro/edit_pencil_watermark.png');
	background-repeat: no-repeat; 
	background-position: right;	
	width: 100%; 
	height: 100%; 
	text-align: left;
}

.dijitRtl .claro .idxGridIconEdit {	
	background-position: left;	
	text-align: right;
}

.claro .idxGridIconError {
	background-image: url('claro/error.png');
	background-repeat: no-repeat; 
	width: 16px;
	height: 18px;
}
.claro .idxGridIconFlag
{
	background-image: url('claro/flag_red.png');	 
	background-repeat: no-repeat; 
	width: 16px;
	height: 14px;
	background-position: center center;
	margin: 0 auto; /* center in parent node */
}