<span class="dijitInline ${baseClass} ${idxBaseClass}" 
	  dojoAttachPoint="containerNode, _arrowWrapperNode, _aroundNode" alt="${alt}" 
	><a id="${id}_link" dojoAttachPoint="linkNode,focusNode" 
	    wairole="link" role="link" class="${baseClass}Anchor" tabindex="${tabIndex}"></a
	><span class="dijitInline ${baseClass}Separator" role="presentation" wairole="presentation"></span
	><div dojoAttachPoint="_buttonNode" id="${id}_arrow" class="${baseClass}ArrowButton" 
		   role=button" wairole="button" aria-haspopup="true" aria-labelledby="${id}_link" tabindex="${tabIndex}"
	><span class="dijitReset dijitInline dijitArrowButtonInner" tabindex="-1"></span
	><span tabindex="-1" role="presentation" wairole="presentation" class="dijitReset dijitInline dijitArrowButtonChar">&#9660;</span
	></div>
</span>