<span class="dijitInline ${baseClass} ${idxBaseClass}"
	  role="button" wairole="button"  aria-labelledby="${id}_link" aria-haspopup="true"
	  tabindex="${tabIndex}" dojoAttachPoint="containerNode, _arrowWrapperNode, _buttonNode, _aroundNode, focusNode"
      dojoAttachEvent="onclick:_onClick" 
    ><a id="${id}_link" tabindex="-1" dojoAttachPoint="linkNode" class="${baseClass}Anchor"></a
	><span tabindex="-1" role="presentation" wairole="presentation" class="dijitReset dijitInline dijitArrowButtonInner"></span
	><span tabindex="-1" role="presentation" wairole="presentation" class="dijitReset dijitInline dijitArrowButtonChar">&#9660;</span
	></span>