/*
 * Licensed Materials - Property of IBM
 * (C) Copyright IBM Corp. 2010, 2012 All Rights Reserved
 * US Government Users Restricted Rights - Use, duplication or
 * disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
 */

.oneui .idxDropDownMultiSelect .idxDropDownMultiSelectDisplayNode {
	padding: 4px 0;
	white-space: nowrap;
}

.oneui .idxDropDownMultiSelect.dijitInputContainer {
	cursor: pointer;
}

.oneui .idxDropDownMultiSelectMenuItemLabel {
	cursor: pointer;
}