.vienna .idxSignIcon {
	background-repeat: no-repeat;
	background-position: top center;
	width: 24px;
	height: 24px;
}

.vienna .idxInformIcon {
	background-image: url('vienna/information_24.png');
}

.vienna .idxWarnIcon {
	background-image: url('vienna/warning_24.png');
}

.vienna .idxErrorIcon {
	background-image: url('vienna/error_24.png');
}

.vienna .idxConfirmIcon {
	background-image: url('vienna/unknown_24.png');
}

/* dialog messages  */
.vienna .idxDialogIconWarning
{
	background-image: url('vienna/warning_24.png');
	background-repeat: no-repeat; 
	width: 24px;
	height: 24px;
	margin-right: 4px;
}
.vienna .idxDialogIconInformation
{
	background-image: url('vienna/information_24.png');
	background-repeat: no-repeat; 
	width: 24px;
	height: 24px;
	margin-right: 4px;
}
.vienna .idxDialogIconError
{
	background-image: url('vienna/error_24.png');
	background-repeat: no-repeat; 
	width: 24px;
	height: 24px;
	margin-right: 4px;
}
.vienna .idxDialogIconText
{	
	margin-left: 0px;
}

.vienna .idxDetailsPaneText
{
	font-size: 12pt; /* 16pt too huge */
	color: #4B73A3; 
	font-family: Tahoma;
	font-style: normal;
	border-style: none none solid;
    border-width: 0px;
    text-align: center; 
    display: block !important; 
}


/* workaround for absolute position specified for dijitContentPaneLoading in themes/vienna/Common.css. */
.vienna .idxSignIcon.dijitContentPaneLoading {
	color: transparent;
	position: relative; 
	width: 50px; 
	height: 50px; 
	top: auto; 
	bottom: auto; 
	left: auto; 
	right: auto; 
	background-position: center center;
}

.dijit_a11y .vienna .idxSignIcon.dijitContentPaneLoading {
	color: black;
}
