<div class="idxSplitter dijitSplitter"
	dojoAttachEvent="onkeypress:_onKeyPress,onmousedown:_startDrag,onmouseenter:_onMouse,onmouseleave:_onMouse"
	tabIndex="-1"
	waiRole="separator">
<!--
 * IBM Confidential
 * OCO Source Materials
 * (C) Copyright IBM Corp. 2010, 2011
 * The source code for this program is not published 
 * or otherwise divested of its trade secrets, irrespective
 * of what has been deposited with the U.S. Copyright Office.
-->	
	<div dojoAttachPoint="thumbContainer" class="idxSplitterThumbOuter">
		<div dojoAttachPoint="bartop" class="idxSplitterBarTop"></div>
		<div dojoAttachPoint="thumb" role="button" class="dijitSplitterThumb idxSplitterThumbCollapse" tabIndex="0"></div>
		<div dojoAttachPoint="thumb2" role="button" class="dijitSplitterThumb idxSplitterThumbExpand" tabIndex="0"></div>
		<div dojoAttachPoint="barbottom" class="idxSplitterBarBottom"></div>
	</div>
</div>
