<table class='idxAccordionTabContainerTabList'>
<tr class="dijitTabContainerTop-tabs">
	<td>
		<div class="idxAccordionTabContainerHeader idxHeaderPaneTitleText" dojoAttachPoint="headerNode"></div>
	</td>
	<td class="idxAccordionTabContainerTabOuter">
		<div wairole='tablist' dojoAttachPoint='containerNode' dojoAttachEvent='onkeypress:onkeypress'></div>
	</td>
	<td class="idxAccordionTabContainerToolbarOuter">
		<div class='idxAccordionTabContainerToolbar' dojoType='dijit.Toolbar' dojoAttachPoint='toolbar'></div>
	</td>
</tr>
</table>