<div class="${baseClass}">
<!--
 * IBM Confidential
 * OCO Source Materials
 * (C) Copyright IBM Corp. 2010, 2011
 * The source code for this program is not published 
 * or otherwise divested of its trade secrets, irrespective
 * of what has been deposited with the U.S. Copyright Office.
-->
<div class="${baseClass}Hidden" dojoAttachPoint="containerNode"
></div>
<div class="${baseClass}Leading" dojoAttachPoint="leadingNode"
></div><div class="${baseClass}Separator ${baseClass}SeparatorHidden" 
            dojoAttachPoint="separatorNode"
></div><div class="${baseClass}Trailing" dojoAttachPoint="trailingNode"
></div>
</div>
