<div class="idxHeaderPane" role=region" wairole="region" aria-labelledby="${id}_Title">
<!--
 * IBM Confidential
 * OCO Source Materials
 * (C) Copyright IBM Corp. 2010, 2011
 * The source code for this program is not published 
 * or otherwise divested of its trade secrets, irrespective
 * of what has been deposited with the U.S. Copyright Office.
-->
<div class="idxHeaderFrame" dojoAttachPoint="_frameNode"
><div class="idxHeaderPaneHeader" dojoAttachPoint="_headerNode"
><div class="idxHeaderPaneA11y"
><span id="${id}_contentTitle" dojoAttachPoint="_contentTitleNode"></span
></div><div class="idxHeaderPaneTitleBar"  dojoAttachPoint="_headerTitleNode"
><div dojoAttachPoint="_leadingTitleNode"
></div><div dojoAttachPoint="_trailingTitleNode"
></div></div><div class="idxHeaderPaneSpacer" dojoAttachPoint="_headerSpacerNode"
></div><div class="idxHeaderPaneActions" dojoAttachPoint="_headerActionsNode"
><div dojoAttachPoint="_leadingActionsNode"
></div><div dojoAttachPoint="_trailingActionsNode"
></div></div></div><div class="idxHeaderPaneContent" dojoAttachPoint="containerNode" tabindex="${tabIndex}" 
						role="region" wairole="region" aria-labelledby="${id}_contentTitle"
></div></div></div>
