/* Menu 

There are three areas of styling for the Menu:  
 
 1. The menu 
 	There are three types of menus:
 	i)Context Menu
 	ii)Drop down Menu
 	iii) Navigation Menu
 	All three types of menus are affected by the .dijitMenu class in which you can set the background-color, padding and border
 	.dijitMenu affects the drop down menu in TimeTextBox, Calendar, ComboBox and FilteringSelect
  .dijitMenuTable - for padding - also affects Select widget 	
  	
 2. The menu bar
 	.dijitMenuBar - for border, margins, padding, background-color of the menu bar
 	.dijitMenuBar .dijitMenuItem - for padding, text color of menu items in the menu bar (overrides .dijitMenuItem) 
 	
 3. Menu items - items in the menu.  
 	.dijitMenuItem - for color
 	.dijitMenuItemHover, .dijitMenuItemSelected - for background-color, border, text color, padding of a menu item or menubar item that has been hovered over or selected	
 	.dijitMenuItemActive - for bacgkround-color of an active (mousedown) menu item
	td.dijitMenuItemIconCell - for padding around a  menu item's icon
	td.dijitMenuItemLabel - for padding around a menu item's label	
	.dijitMenuSeparatorTop - for border, top border, of the separator
	.dijitMenuSeparatorBottom - for bottom margin of the separator
	
	Styles specific to ComboBox and FilteringSelect widgets: 
	.dijitComboBoxMenu .dijitMenuItem - for padding and border of a menu item in a ComboBox or FilteringSelect widget's menu
	.dijitComboBoxMenu .dijitMenuItemSelected- for text color, background-color and border of a menu item in a ComboBox or FilteringSelect widget's menu

*/
.vienna .dijitMenuBar {
	border: 1px solid #B0BECF;
/* margin: 0px; */
/* padding: 0px; */
	background-color: #E8EDF2;
/* background-image: url("images/commonHighlight.png"); */
/* background-position:0px 0px; */
/* background-repeat:repeat-x; */
}
.dj_ie6 .vienna .dijitMenuBar {
/* background-image:none; */
}
.vienna .dijitMenu {
/* background-repeat:repeat-y; */
/* background-color:#fff; */
	border: 1px solid #B0BeCF;

	/* so adjoining borders of MenuBar/ComboBox and Menu overlap, avoiding double border */
/* margin: -1px 0; */
}
.vienna .dijitMenuBar .dijitMenuItem {  
/* padding: 6px 10px 7px; */
/* background-position:0px 100px; */
	color:#464646;
/* margin:-1px; */
}	
.vienna .dijitMenuItem {
	background-image:none;
/* background-position:0px -40px; */
/* background-repeat:repeat-x; */
}

/* this prevents jiggling upon hover of a menu item */
.vienna .dijitMenuTable {
/* border-collapse:separate; */
/* border-spacing:0 0; */
/* padding:0px; */
}
.vienna .dijitMenuItem td{
/* padding:1px; */
}
/* hover over a MenuBarItem */
.vienna .dijitMenuPassive .dijitMenuItemHover,
.vienna .dijitMenuPassive .dijitMenuItemSelected {
	background-color: #e0e7ee;
	border:solid 1px #B0BECF;
/* background-position:0px 0px; */
	color:#464646;
/* padding: 5px 9px 6px; */
}
.vienna .dijitMenuPassive .dijitMenuItemActive{
/* background-position:0px -177px; */
}
.dj_ie6 .vienna .dijitMenuItem,
.dj_ie6 .vienna .dijitMenuPassive .dijitMenuItem {
/* background-image: none; */
}

/* MenuBarItem that has been selected and menu drops down from it */
.vienna .dijitMenuActive .dijitMenuItemHover,
.vienna .dijitMenuActive .dijitMenuItemSelected {
/* border:solid 1px #769dc0; */
/* padding: 5px 9px 6px; */
	background-color:#E2F4B2;
/* background-position:0px 0px; */
/* color:#000; */
}
.dj_ie .vienna .dijitMenuActive .dijitMenuItemHover,
.dj_ie .vienna .dijitMenuActive .dijitMenuItemSelected,
.dj_ie .vienna .dijitMenuPassive .dijitMenuItemHover,
.dj_ie .vienna .dijitMenuPassive .dijitMenuItemSelected {
/* padding-top: 6px; */
/* padding-bottom: 5px; */
/* margin-top: -3px; */
}
.vienna .dijitMenuActive .dijitMenuItemActive{
/* background-color: #7dbefa; */
/* background-position:0px -177px; */
}
.vienna .dijitMenuItemActive {
/* background-position:0px -177px; */
}
.vienna td.dijitMenuItemIconCell {
/* padding: 2px; */
/* margin: 0px 0px 0px 4px; */
}
.vienna td.dijitMenuItemLabel {
/* padding-top: 5px; */
/* padding-bottom: 5px; */
}
.vienna .dijitMenuExpand {
/* width: 7px; */
/* height: 7px; */
/* background-image: url('images/spriteArrows.png'); */
/* background-position: -14px 0px; */
/* margin-right:3px; */
}
.vienna .dijitMenuItemDisabled .dijitMenuItemIconCell {
/* opacity:1; */
}
.vienna .dijitMenuSeparatorTop {
/* height: auto; */
/* margin-top:1px; */ /* prevents spacing above/below separator */
	border-bottom: 1px solid #b5bcc7
}
.vienna .dijitMenuSeparatorBottom{
/* height: auto; */
/* margin-bottom:1px; */
}
/* the checked menu item */
.vienna .dijitCheckedMenuItemIconChar {
/* display: none; */
}
.vienna .dijitCheckedMenuItemIcon {
/* background-image: url('form/images/checkboxRadioButtonStates.png'); */
/* background-repeat:no-repeat; */
/* background-position: -15px 50%; */
/* width:15px; */
/* height:16px; */
}
.dj_ie6 .vienna .dijitCheckedMenuItemIcon {
/* background-image: url('form/images/checkboxAndRadioButtons_IE6.png'); */
}
.vienna .dijitCheckedMenuItemChecked .dijitCheckedMenuItemIcon {
/* background-position: 0 50%; */
}

/*ComboBox Menu*/
.vienna .dijitComboBoxMenu {
/* margin-left:0px; */
/* background-image: none; */
}
.vienna .dijitComboBoxMenu .dijitMenuItem{
/* padding:2px 0px; */
/* text-indent:6px; */
	border-width:0;
	border-style:none;
	border-color:none;
}
.vienna .dijitComboBoxMenu .dijitMenuItemSelected {
	color:#464646;
	border-color:none;
	background-color:#E2F4B2;
}
.vienna .dijitComboBoxMenuActive .dijitMenuItemSelected {
/* background-position:0px -177px; */
/* background-color:#7dbefa; */
}
.vienna .dijitMenuPreviousButton, .vienna .dijitMenuNextButton {
/* font-style: italic; */
}

.vienna .dijitComboBoxMenuActive .dijitMenuItemHover,
.vienna .dijitComboBoxMenu .dijitMenuItemHover {
 	background-color:#E2F4B2;
	border:solid 1px #B0BECF;
	color:#464646;
}
