<tr class="${baseClass} ${baseClass}${posClassSuffix} ${baseClass}${altClassSuffix}">
<th class="${baseClass}Label ${baseClass}Label${posClassSuffix} ${baseClass}Label${altClassSuffix}"><span class="${baseClass}Label ${baseClass}Label${posClassSuffix} ${baseClass}Label${altClassSuffix}" dojoAttachPoint="titleNode"></span><span class="${baseClass}Sep ${baseClass}Sep${posClassSuffix} ${baseClass}Sep${altClassSuffix}">${propertyGrid._resources.labelFieldSeparator}</span></th>
<td class="${baseClass}Value ${baseClass}Value${posClassSuffix} ${baseClass}Value${altClassSuffix}" dojoAttachPoint="valueNode"></td>
</tr>
