/*
 * Licensed Materials - Property of IBM
 * (C) Copyright IBM Corp. 2010, 2012 All Rights Reserved
 * US Government Users Restricted Rights - Use, duplication or
 * disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
 */

.oneui .idxErrorDialogMessageId {
    padding: 10px 5px 0;
    position: absolute;
    left: 10px;
}

.dijitRtl .oneui .idxErrorDialogMessageId {
    left: auto;
    right: 10px;
}
 
.oneui .idxErrorDialogSummary {
	font-weight: bold;
}

.oneui .idxErrorDialogDetail {
	margin: 10px 0px 0px;
}
