/*
 * Licensed Materials - Property of IBM
 * (C) Copyright IBM Corp. 2010, 2012 All Rights Reserved
 * US Government Users Restricted Rights - Use, duplication or
 * disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
 */

.oneui .idxMoveableTabIndicator {
	position: absolute;
	background-image: url('images/arrow_down_blue8.png');
	background-repeat: no-repeat;
	background-position: center center;
	width: 16px;
	height: 16px;
	display: none;
	z-index: 50;
}