@import "../../lib/dijit/themes/claro/claro.css";
@import "../../lib/dgrid/css/skins/claro.css";
@import "../../lib/gridx/resources/claro/Gridx.css";
/**/@import "css/oneui.css";
@import "css/oneui-dojo.css";/**/
@import "css/db-styles.css";

#borderContainerMain {
    height: 100%;
    width: 100%;
}

.oneui .dijitTabCloseButton {
    background: url("../idx/themes/oneui/dijit/layout/images/tabClose.png") no-repeat;
    width: 14px;
    height: 14px;
    margin-left: 2px;
    margin-right: -4px;
}
.gridx {
    width: 100%;
    height: 100% !important;
}
#PPFGridContainer, #functionalApplicabilityGridContainer, #functionalApplicabilityDocumentsGridContainer {
    width: 100%;
    height: 80% !important;
}
.gridxRowHeaderBody, .gridxRowHeaderRow {
    width: 0 !important;
    border: none !important;
}
#SaveButtonNode {
    float:left;
}
#CancelButtonNode, #NextButtonNode {
    float:right;
}
h2.left {
    float: left;
    display: inline-block;
}
.right {
    float: right;
    display: inline-block;
}
input[type=text]:hover, input[type=text]:active {
    border-color: hsl(198,100%,42.9%);
}
.btn_glyph {
    cursor: pointer;
    text-indent: -3000px;
    background: url("css/images/db-icon-sprite.png") no-repeat;
    border: 0;
    height: 24px;
    width: 24px;
}
.btn_glyph:hover {

}
.btn_forward {
    background-position: 0px -798px;

}
.btn_forward.dijitButtonDisabled {
    background-position: 0px -849px;
}
.btn_back {
    background-position: 0px -698px;
}
.btn_back.dijitButtonDisabled {
    background-position: 0px -749px;
}
.btn_lock {
    background-position: 0px -949px;
}
.btn_unlock {
    background-position: 0px -898px;
}
/* tab stuff */
.oneui .dijitTabContainerTop-tabs .dijitTabContent.dijitTab {
    padding-top: 7px;
    padding-bottom: 5px;
    background: #f7fcff; /* Old browsers */
    background: -moz-linear-gradient(top, #f7fcff 0%, #d2d6d9 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7fcff), color-stop(100%,#d2d6d9)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f7fcff 0%,#d2d6d9 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f7fcff 0%,#d2d6d9 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f7fcff 0%,#d2d6d9 100%); /* IE10+ */
    background: linear-gradient(to bottom, #f7fcff 0%,#d2d6d9 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7fcff', endColorstr='#d2d6d9',GradientType=0 ); /* IE6-9 */
    border: 1px solid #babdbf;
    margin-bottom: 5px;
    margin-left: -1px;
    margin-right: 5px;
    border-radius: 0;
}
.oneui .dijitTabContainerTop-tabs .dijitTabContent.dijitTab.dijitTabChecked,
.oneui .dijitTabContainerTop-tabs .dijitTabContent.dijitTab.dijitTabChecked.dijitTabHover{
    color: rgb(34,34,34);
    background: hsl(0,0%,100%);
    border-left-color: hsl(204, 4%, 74%);
    border-top-color: hsl(204, 4%, 74%);
    border-right-color: hsl(204, 4%, 74%);
    border-bottom: none;
    margin-bottom: -1px;
    padding-bottom: 11px;
    font-weight: normal;
}
.oneui .dijitTabContainerTop-tabs .dijitTabContent.dijitTab.dijitTabHover {
    color: hsl(0,0%,100%);
    background: hsl(198,100%,42.9%);
    border-color: hsl(198,100%,42.9%);
}
.claro .dijitButton .dijitButtonNode {
    background: hsl(210 2% 45%);
    border-color: hsl(210 2% 45%);
}
.claro .dijitButton .dijitButtonNode .dijitButtonText{
    font-size: 12px;

}
.claro .dijitButtonHover .dijitButtonText,
.claro .dijitButtonHover .dijitButtonNode>span{
    font-size: 12px;
}
.claro .dijitButtonHover .dijitButtonNode {
    height: 15px;
    background-color: hsl(198,100%,42.9%);
    border-color: hsl(198,100%,42.9%);
}

/* Notification bars */
.dbLayout-oneCol.notice,
.dbLayout-oneCol.success,
.dbLayout-oneCol.error {
    font-size: 14px;
}
.dbLayout-oneCol.success,
.dbLayout-oneCol.error {
    /*padding-left: 20px*/
}
.dbLayout-oneCol.notice::after,
.dbLayout-oneCol.success::before,
.dbLayout-oneCol.error::before {
    background-image: url("../../lib/gridx/resources/images/sprite.png");
    background-repeat: no-repeat;
    content: "";
    display: inline-block;
    height: 16px;
    width: 16px;
    margin: 0 1px;
}
.dbLayout-oneCol.notice::after {
    float: right;
}
.dbLayout-oneCol.success::before,
.dbLayout-oneCol.error::before {
    float: left;
}
.dbLayout-oneCol.notice {
    border-color: hsl(197, 100%, 85%);
    background-color: hsl(197, 100%, 85%);
}
.claro .gridxRow.gridxRowOdd .gridxCell{
    background-color: hsl(203, 50%, 97%);
}
.claro .gridxBodyRowHoverEffect
.gridxRowOver > .gridxRowTable .gridxCell,
.claro .gridxRowSelected>.gridxRowTable,
.claro .gridxRowSelected>.gridxRowTable .gridxCell,
.claro .gridxRow .gridxColumnSelected,
.claro .gridxRow .gridxCellSelected {
    background: hsl(197, 100%, 85%);
}

.dbLayout-oneCol.success {
    border-color: hsl(80, 64%, 65%);
    background-color: hsl(80, 64%, 65%);
}
.dbLayout-oneCol.error {
    border-color: hsl(346, 79%, 72%);
    background-color: hsl(346, 79%, 72%);
}
/**
 * @todo need source file to add image to sprite
 */
.dbLayout-oneCol.notice::after {
    background-position: -146px -2px;
}
.dbLayout-oneCol.success::before {
    background-position: -146px -2px;
}
.dbLayout-oneCol.error::before {
    background-position: -165px -2px;;
}

/* Grid stuff */
.gridxTreeExpandoIcon,
.gridxTreeExpandoIcon:hover {
    background-position: -122px -24px;
}
.gridxTreeExpandoCellOpen .gridxTreeExpandoIcon,
.gridxTreeExpandoCellOpen .gridxTreeExpandoIcon:hover {
    background-position: -24px -4px;
}
.gridxRowHeaderHeader {
    display: none;
}

/* placeholder text for input elements, each declaration must be separate, even though it's counter-intuitive */
::-webkit-input-placeholder{
    font-style: italic !important;
    padding-left: 2px;
}
:-moz-placeholder{
    font-style: italic !important;
    padding-left: 2px;
}
::-moz-placeholder {
    font-style: italic !important;
    padding-left: 2px;
}
:-ms-input-placeholder{
    font-style: italic !important;
    padding-left: 2px;
}
::input-placeholder{
    font-style: italic !important;
    padding-left: 2px;
}
::placeholder{
    font-style: italic !important;
    padding-left: 2px;
}
