/*
 * Licensed Materials - Property of IBM
 * (C) Copyright IBM Corp. 2010, 2012 All Rights Reserved
 * US Government Users Restricted Rights - Use, duplication or
 * disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
 */

/* InlineEditBox
 * 
 * Styling InlineEditBox mainly includes:
 * 
 * 1. Normal state
 * 		.dijitInlineEditBoxDisplayMode  - for border
 * 
 * 2. Hover state
 * 		.dijitInlineEditBoxDisplayModeHover - for border and background color
 */
.oneui .dijitInlineEditBoxDisplayMode {
  border: 1px solid transparent;
}
.oneui .dijitInlineEditBoxDisplayModeHover {
  background-color: #e9f4fe;
  border: solid 1px #769dc0;
}
.dj_ie6 .oneui .dijitInlineEditBoxDisplayMode {
  border: none;
}
