/*
 * Licensed Materials - Property of IBM
 * (C) Copyright IBM Corp. 2010, 2012 All Rights Reserved
 * US Government Users Restricted Rights - Use, duplication or
 * disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
 */

/* TimePicker */
.dj_ie .oneui .dijitTimePickerRtl .dijitTimePickerTickHover,
.dj_ie .oneui .dijitTimePickerRtl .dijitTimePickerMarkerHover,
.dj_ie .oneui .dijitTimePickerRtl .dijitTimePickerMarkerSelected,
.dj_ie .oneui .dijitTimePickerRtl .dijitTimePickerTickSelected {
  margin-left: -6px;
  margin-right: -8px;
  width: 114%;
}
