/*
 * Licensed Materials - Property of IBM
 * (C) Copyright IBM Corp. 2010, 2012 All Rights Reserved
 * US Government Users Restricted Rights - Use, duplication or
 * disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
 */

.oneui .idxCheckBoxWrap .idxLabel{
	margin-top: 2px;
	padding: 0 4px 0 0;
}
.oneui .idxCheckBoxWrap .dijitValidationContainer{
	height: 15px;
	margin: 2px 0 2px 0;
}
.oneui .idxCheckBoxWrap .dijitValidationContainer .dijitValidationIcon{
	margin: 0;
}
