/*
 * Licensed Materials - Property of IBM
 * (C) Copyright IBM Corp. 2010, 2012 All Rights Reserved
 * US Government Users Restricted Rights - Use, duplication or
 * disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
 */

.oneui .oneuiForm {
    background-color: #CFE5FA;
    border: 1px solid #769DC0;
}
.oneui .oneuiFormBody {
    background-color: #FFFFFF;
    border-top: 1px solid #769DC0;
    padding: 10px 7px;
}
.oneui .oneuiFormForm {
}
.oneui .oneuiFormHeader {
    background-color: transparent;
    background-image: url("../layout/images/accordion.png");
    min-height: 17px;
    padding: 5px 7px 2px;
}
.oneui .oneuiFormDescription {
}
.oneui .oneuiFormInlineMessage {
    background-color: #FFD9D9;
    border: 1px solid #D46464;
    margin-top: 5px;
    padding: 5px 10px;
}
.oneui .oneuiFormContainer {
    padding-bottom: 15px;
    padding-top: 15px;
}
.oneui .oneuiFormLegend {
}
.oneui .oneuiFormFooter {
    background-color: #F7F7F7;
    border-top: 1px solid #DBDBDB;
    min-height: 14px;
    padding: 5px 7px;
}