<div class="idxOneuiHoverHelpTooltip idxOneuiHoverHelpTooltipLeft"
	><div role="document"
		><span data-dojo-attach-point="closeButtonNode" class="idxOneuiHoverHelpTooltipCloseIcon" data-dojo-attach-event="ondijitclick: hideOnClickClose" role="button" tabIndex="0"></span
	></div
	><div data-dojo-attach-point="outerContainerNode" class="idxOneuiHoverHelpTooltipContainer idxOneuiHoverHelpTooltipContents"
		><div data-dojo-attach-point="containerNode" role="alert"></div
		><a target="_blank" href="#updateme" class="idxOneuiHoverHelpTooltipLearnLink" data-dojo-attach-point="learnMoreNode"><span>${learnMoreLabel}</span></a
	></div
	><div class="idxOneuiHoverHelpTooltipConnector" data-dojo-attach-point="connectorNode"></div
></div>