/*
 * Licensed Materials - Property of IBM
 * (C) Copyright IBM Corp. 2010, 2012 All Rights Reserved
 * US Government Users Restricted Rights - Use, duplication or
 * disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
 */

/* Combo Button */
.oneui .dijitComboButtonRtl .dijitStretch {
	-moz-border-radius: 0 3px 3px 0;
	-webkit-border-radius: 0 3px 3px 0;
	border-radius: 0 3px 3px 0;
}

.oneui .dijitComboButtonRtl .dijitButtonNode {
    padding-left: 0;
	padding-right: 10px;
}
.oneui .dijitDropDownButtonRtl .dijitButtonNode {
	padding-left: 2px;
	padding-right: 10px;
}

.oneui .dijitToggleButtonRtl .dijitButtonNode .dijitButtonContents {
    text-align: right;
}
.oneui .dijitDropDownButton .dijitIcon, 
.oneui .dijitComboButton .dijitIcon {
	margin-left: 5px;
}
.oneui .dijitDropDownButtonRtl .dijitButtonText,
.oneui .dijitComboButtonRtl .dijitButtonText {
	padding: 0 0 0 30px;
}


.oneui .dijitComboButtonRtl .dijitArrowButton {
    -moz-border-radius: 3px 0 0 3px;
    -webkit-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
    /*padding: 3px 0 4px;*/
	padding: 4px 2px;
    border-left-width: 1px;
    border-right-width: 0;
}

/* End Combo Button */