@import "../variables";

.oneui .dijitSliderRtl .dijitSliderProgressBarH,
.oneui .dijitSliderRtl .dijitSliderRemainingBarH,
.oneui .dijitSliderRtl .dijitSliderLeftBumper,
.oneui .dijitSliderRtl .dijitSliderRightBumper,
.oneui .dijitSliderRtl .dijitSliderTopBumper {
	background-position: top right;
}

.oneui .dijitSliderRtl .dijitSliderProgressBarV,
.oneui .dijitSliderRtl .dijitSliderRemainingBarV,
.oneui .dijitSliderRtl .dijitSliderBottomBumper {
	background-position: bottom right;
}

.oneui .dijitSliderRtl .dijitSliderLeftBumper {
	border-left-width: 0;
	border-right-width: 1px;
}

.oneui .dijitSliderRtl .dijitSliderRightBumper {
	border-left-width: 1px;
	border-right-width: 0;
}

.oneui .dijitSliderRtl .dijitSliderIncrementIconH {
	background-position:-357px 50%;
}

.oneui .dijitSliderRtl .dijitSliderDecrementIconH {
	background-position:-251px 50%;
}
