/*
 * Licensed Materials - Property of IBM
 * (C) Copyright IBM Corp. 2010, 2012 All Rights Reserved
 * US Government Users Restricted Rights - Use, duplication or
 * disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
 */

 .oneui .idxGridPlaceHolder {
	color: #AAAAAA;
	font-style: italic;
}

/*
 TODO: See about prefixing something here with "idx"
*/
.oneui .dojoxGrid .dijitPlaceHolder {
	line-height: 20px;
}
