.vienna .idxHeaderPaneDefaults {

}

.vienna .idxHeaderPaneA11y {
	width: 0px;
	height: 0px;
	position: absolute;
	display: inline;
	left: 50%;
	top: -10000px;
	visibility: visible;
	
}

.vienna .idxHeaderPane {
  padding: 0px;
  margin: 0px;
  border-style: solid;
  border-width: 1px;
  border-color: #b0becf;
  border-radius: 4px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -opera-border-radius: 3px;
}

.vienna .idxHeaderFrame {
  position: relative;
  padding: 0px;
  margin: 0px;
  border-style: none;
  border-width: 0px;
  width: 100%;
  height: 100%;
}

.vienna .idxHeaderPaneAutoHide .idxHeaderPaneTitleActions {
	visibility: hidden;
}

.vienna .idxHeaderPaneAutoHide.idxHeaderPaneFocused .idxHeaderPaneTitleActions,
.vienna .idxHeaderPaneAutoHide .idxHeaderPaneHeaderHover .idxHeaderPaneTitleActions {
	visibility: visible;
}

.vienna .idxHeaderPaneHeader {
  position: absolute;
  display: block;
  margin: 0px;
  padding: 0px;
  background-color: #e8edf2;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfdfe', endColorstr='#e8edf2'); /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#fdfdfe), to(#e8edf2)); /* for webkit browsers */ 
  background: -moz-linear-gradient(top,  #fdfdfe,  #e8edf2); /* for firefox 3.6+ */
  
  padding: 8px;
  padding-bottom: 6px;
  border-style: none;
  border-width: 0px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #b0becf;
}

.vienna .idxHeaderPaneTitleBar {
  display: block;
  margin: 0px;
  padding: 0px;
  vertical-align: middle;
}

.vienna .idxHeaderPaneTitleLeft {
  float: left;
  position: static;
  vertical-align: middle;
  display: inline;
  margin: 0px;
  padding: 0px;
}

.vienna .idxHeaderPaneTitleText {
  font-family:Tahoma, Verdana,Arial,Helvetica,sans-serif;
  font-size: 110%;
  color: #48678A;
  font-weight: bold;
  vertical-align: middle;
  display: inline;
  white-space: nowrap;
}

.vienna .idxHeaderPaneTitleRight {
  position: static;
  float: right;
  vertical-align: middle;
  display: inline;
  margin: 0px;
  padding: 0px;
}

.vienna .idxHeaderPaneTitleActions {

}

.vienna .idxHeaderPaneSpacer {
  height: 6px;
  margin: 0px;
  padding: 0px;
  display: block;
}

.vienna .idxHeaderPaneSpacerHidden {
  display: none;
  visibility: hidden;
}

.vienna .idxHeaderPaneActions {
  display: block;
  margin: 0px;
  padding: 0px;
}


.vienna .idxHeaderPaneActionsHidden {
  display: none;
  visibility: hidden;
}

.vienna .idxHeaderPaneActionsLeft {
  float: left;
  position: static;
  vertical-align: middle;
  display: inline;
  margin: 0px;
  padding: 0px;
}

.vienna .idxHeaderPaneMajorActions {

}

.vienna .idxHeaderPaneActionsRight {
  position: static;
  float: right;
  text-align: right;
  display: inline;
  margin: 0px;
  padding: 0px;
}

.vienna .idxHeaderPaneClear {
  position: static;
  visibility: hidden;
  clear: both;
  height: 0px;
  width: 0px;
  line-height: 0px;
}

.vienna .idxHeaderPaneMinorActions {

}

.vienna .idxHeaderPaneContent {
  position: absolute;
  display: block;
  margin: 0px;
  padding-top: 8px;
  padding-left: 8px;
  padding-bottom: 8px;
  padding-right: 8px;
  overflow: auto;
}

.vienna .idxHeaderPaneContent.idxHeaderPaneSingleChild {
  /* this class is used when only a single child is in the content area */
  /* we give the child full-bleed to the edges and defer to the child   */
  /* provide the scroll bars                                            */
  padding: 0px 0px 0px 0px;
  overflow: hidden;  
}

.vienna .idxHeaderPaneContent.idxHeaderPaneSingleChild .idxHeaderPane-child {
  /* this class is used when only a single child is in the content area */
  /* we give the child full-bleed to the edges and defer to the child   */
  /* provide the scroll bars                                            */
  width: 100%;
  border-collapse: collapse;
}
